<mat-toolbar>
  <button id="menuSecciones" class="example-icon" [matMenuTriggerFor]="seccion"> 
    <mat-icon> menu</mat-icon>
  </button>
  <mat-menu #seccion="matMenu"> </mat-menu>
  <button mat-menu-item routerLink="/inicio"> inicio</button>
  <button mat-menu-item [matMenuTriggerFor]="producto"> productos</button>
  <span>My App</span>

  <button mat-button routerLink="/inicio">inicio</button>
  <!--botones con iconos-->
  <!-- productos -->
  <button mat-button [matMenuTriggerFor]="producto">productos</button>
  <mat-menu #producto="matMenu">
    <button mat-menu-item routerlink="/usuario">productos</button>
    <button mat-menu-item routerlink="/alimento">alimento</button>
    <button mat-menu-item routerlink="/juguete">juguete</button>
    <button mat-menu-item routerlink="/indumentaria">indumentaria</button>
  </mat-menu>

  <span class="example-spacer"></span>
<!-- inicio de sesion y el registro de un nuevo usuario-->
  <button mat-button [matMenuTriggerFor]="usuario">Menu</button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item routerlink="/">registrarse</button>
    <button mat-menu-item routerlink="/">iniciar sesion</button>
   
  </mat-menu>

  <!-- carrito -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping-cart</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>